/* join us */

.join {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.join__title {
    margin: 0px 0px 20px 0px;
    text-align: start;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
}

.join__list {
    display: flex;
    gap: 10px;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: $white-color;
    background-color: #44454e;
    border-radius: 50%;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}